* {
	box-sizing:border-box;
}

html, body, #root, #main {
	height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#f2e4d6;
  --background:#f2e4d6;
  --textcolor:#333333;
  --themecolor:#f18000;
  --footerHeight:5em;
}

button {
	outline:none;
	padding:20px;
	border-radius:10%;
}

button:hover {
	cursor:pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
	color:var(--textcolor);
	height:auto;
	min-height:100%;
	padding-bottom:var(--footerHeight);
	margin-bottom:calc(0px - var(--footerHeight));
}

footer {
	height:var(--footerHeight);
	padding:1em;
	text-align:center;
	background:var(--themecolor);
	border-top:1px solid var(--textcolor);
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(1px,1fr));
}

footer img {
	height:calc(var(--footerHeight) - 2em);
}
