.contactcon {
	/*padding-top:5%;*/
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(350px,auto));
	text-align:center;
}

.contactimg {
	height:8em;
	margin-top:5vh;
}

@media screen and (max-width:400px) {
	.contactcon {
		grid-template-columns:1fr;
	}
}