.contactcon {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
	text-align:center;
	grid-gap:1%;
	padding:1%;
}

.contactlink {
	display:grid;
}

.contactimg {
	width:100%;
	align-self:'center';
}

@media screen and (max-width:400px) {
	.contactcon {
		grid-template-columns:1fr;
	}
}