.contactcon {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
	grid-auto-rows:100px;
	text-align:center;
	grid-gap:5%;
	padding:5%;
}

.contact {
	padding:5%;
	border:5px solid var(--textcolor);
}

.contactimg {
	max-height:100%;
	max-width:100%;
}
