@import 'variables';

.home {
  padding:3rem;
  height:100%;
  overflow:hidden;

  .lg-heading {
    margin-top:10vh;
  }

  .sm-heading {
    margin-bottom:2rem;
    padding: 0.2rem 1rem;
    background:linear-gradient(to right, rgba(lighten($background,2),0.5),rgba($background,0));
  }

  .text-two {
    color:$text-two;
  }

  .icons {
    margin-top:1rem;
  }
}

@include mediaMedium {
  .home {
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    .sm-heading {
      background:rgba(lighten($background,2),0.5);
    }
  }
}
