nav {
	background:var(--textcolor);
	display:grid;
	grid-template-columns:repeat(4,100px);
	grid-template-rows:50px;
	border-bottom:2px solid var(--themecolor);
	padding:4px 0;
	width:100%;
	overflow:auto;
	--border:3px;
}

.Link {
	align-self:center;
	color:var(--themecolor);
	text-decoration:none;
	text-align:center;
}

.Link img {
	border:var(--border) solid var(--textcolor);
	transition:border 1s, border-radius 1s;
	max-height:100%;
	max-width:100%;
	padding:3px;
}

.Link span {
	padding:2px;
	border:var(--border) solid var(--textcolor);
}

.active img {
	border-color:var(--themecolor);
	border-radius:50%;
}

.active span {
	border-bottom-color:var(--themecolor);
	font-style:italic;
}	

@media screen and (max-width:400px) {
	nav {
		grid-template-columns:1fr;
		grid-template-rows:52px repeat(3,30px);
	}
}