.phead {
	text-align:center;
}
.projectcon {
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:10px;
	margin:20px;
	transition:margin 2s;
}

.project {
	border:1px solid #f18000;
	text-align:center;
	background:rgba(255,255,255,.5);
	padding:0 10px;
	display:grid;
}

.projectimg {
	/*max-height:300px;*/
	max-width:100%;
	margin:auto;
}

.projectlinks {
	align-self:end;
}

@media screen and (max-width:1025px) {
	.projectcon {
		display:block;
	}
}