a {
	margin-bottom:5px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
}

.resume {
	display:grid;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
	grid-gap:5px;
	grid-template-areas:
		"name" 
		"skills"
		"projects"
		"work"
		"education";
}

.title {
	font-weight:bold;
	text-align:center;
}

.entry {
	font-weight:bold;
	text-decoration: underline;
}

.desc {
	font-style:italic;
}

.right {
	float:right;
}

.box {
	padding:1em;
	border:1px solid var(--textcolor);
}

.name {
	grid-area:name;
}

.skills {
	grid-area:skills;
}

.projects {
	grid-area:projects;
}

.work {
	grid-area:work;
}

.education {
	grid-area:education;
}

@media (min-width:1000px) {
	.resume {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"name skills"
			"projects projects"
			"work work"
			"education education";
	}
}
